<div class="col-md-8">
	<div class="jumbotron">
	  <h1>Hello!</h1>
	  <p>This site demonstrates a function that removes all duplicates from an unsorted list of email addresses while leaving the remaining list in the original order. It should be able to handle say, 100,000 email addresses containing 50% randomly placed duplicates in well under 1 second on a typical modern laptop.</p>
	  

	  	<input id="file" type="file">
	

	  <!-- <form action="upload" method="post">
	  	<input type="file" name="uploaded_file">
	  	<input type="submit" class="btn btn-primary btn-lg" value="Upload File">
	  </form> -->

	  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
	</div>
</div>